.xwc-body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.xwc-sub-header {
    font-size: 1rem;
    margin-top: 5px;
}

.xwc-sub-header .xwc-datetime {
    margin-right: 10px;
}
